* {
  color: #373867;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 700;
  font-size: 40px;
}

h2 {
  margin-top: 50px
}

h3 {
  font-size: 24px;
}

nav,
aside,
footer {
  background: #D9D9D9;
}

nav {
  position: fixed;
  width: 100%;
  height: 108px;
  left: 1px;
  top: 0px;
  border-bottom: 2px solid #373867;
  z-index: 1;
}

.icon {
  text-align: center;
  padding: 2px 5px;
  position: relative;
  left: 1.65%;
  right: 96.76%;
  top: 45.28%;
  bottom: 30.74%;
  border: none;
  background: transparent;

}

.logo {
  position: absolute;
  width: 70px;
  height: 16px;
  left: 143px;
  top: 53px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.links {
  float: right;
  padding-top: 50px
}

.links a {
  padding: 0 10px;
  text-decoration: none;
  width: 130px;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

aside {
  position: fixed;
  left: 0%;
  right: 80.75%;
  top: 11%;
  bottom: 0%;
}

aside i {
  margin-right: 10px;
}

input[type=search] {
  border: 1px solid #373867;
  width: 200px;
  height: 37px;
  margin: 20px 0 0 35px;
}

.aside-menu {
  margin: 50px 0 100px 0;
}

.aside-menu,
.aside-contact {
  line-height: 24px;
  margin-left: 35px;
  font-weight: bold;
  font-size: 14px;
}

.line {
  height: 2px;
  width: 212px;
  background-color: #373867;
}

.aside-menu li,
.aside-contact li {
  align-items: center;
  padding: 10px 0px 10px 0;
}

main {
  position: relative;
  z-index: 0;
  left: 23%;
  top: 15%;
}

#home div {
  display: inline-block;
  width: 49%;
  float: left;
}

.home-info {
  margin-top: 100px;
}

.home-text1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 486px;
  height: 41px;
  margin-bottom: 30px;
}

.home-text2 {
  background-color: #D9D9D9;
  padding: 10px;
  width: 411px;
  height: 100px;
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#home button {
  padding: 14px 36px;
  background: #FFFFFF;
  border: 1px solid #373867;
  border-radius: 5px;
  margin-top: 42px;
  margin-left: 50px;
  width: 170px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

#home img {
  width: 507.13px;
  height: 500px;
}

section article {
  display: inline-block;
  width: 49%;
  padding: 20px
}

article img {
  width: 150px;
  height: 150px;
}

article div {
  display: inline-block;
  width: 45%;
}

.article-title {
  width: 311px;
  height: 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 27px;
}

.article p {
  width: 363px;
  height: 84px;
}

#information .form-contact {
  margin: 30px 0 0 360px
}

.form-contact label {
  font-weight: 500;
  font-size: 14px;
}

.form-contact input {
  height: 37px;
  margin: 5px 0;
}

.form-contact .form-title {
  margin: 30px 0 0 0;
}

.form-contact input[type="text"],
.form-contact input[type="email"]{
  width:260px;
}

.form-contact input[type="radio"] {
  width: 18px;
  height: 15px;
  margin-top: 10px;
  border-radius: 50%;
  z-index: -1;
  accent-color: #373867;
}

textarea {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.form-contact button {
  margin:20px 0 0 180px;
  padding: 10px 24px;
  width: 76px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #373867;
  border-radius: 5px;

}

#history {
  padding: 20px;
}

#history h3 {
  margin-top: 10px;
  margin-bottom: 50px;
}

#history div {
  display: inline-block;
  width: 49%;
  padding: 0 50px;
}

#history div:first-of-type {
  float: left;
  width: 383px;
  height: 168px;
}

#products div,
#business div,
#support div {
  display: inline-block;
  width: 49%;
}

#products div:first-of-type,
#business div:first-of-type,
#support div:first-of-type {
  margin-top: 50px;
  width: 237px;
  height: 351px;
  margin-right: 170px;
}

.list {
  width: 272px;
  height: 355px;
  background: #D9D9D9;
  padding-left: 40px;
}

.list li {
  padding: 35px;
}

ol li {
  list-style-type: decimal
}

ol i {
  margin-right: 10px;
}

#products-services p {
  width: 410px;
  height: 94px;
  margin: 50px 0 150px 0
}